# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Project specific
static/uploads/*
!static/uploads/.gitkeep
models/*.pth
graph(test accuracy&loss)/*
misclassified images/* 